{% load static %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/logo.jpg' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"></ul>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Arme vanatoare
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'category' 'Arme-lise-de-vânătoare' %}">Arme lise</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'Carabine-de-vânătoare' %}">Carabine</a></li>
                        </ul>
                    </div>    
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Munitii arme
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'category' 'Muniții-arme-lise' %}">Muniții lise</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'Muniții-carabină' %}">Muniții carabină</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Despre noi
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>    
{#                    <div class="btn-group">#}
{#                        <button type="button" class="btn btn-outline-success ">#}
{#                            {% if user_id %}#}
{#                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>#}
{#                            {% else %}#}
{#                                <a class="dropdown-item" href="{% url 'login' %}">Login</a>#}
{#                            {% endif %}#}
{#                        </button>#}
{#                    </div>#}
                    <a href="{% url 'cart_detail' %}" class="btn btn-outline-dark">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                    </a>
                </div>
            </div>
        </nav>