{% extends 'layout/base.html' %}

{% block content %}
    
<div class="container">
<br/>
<br/>
<br/>
<br/>
<br/>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <center>  
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text justified">{{ product.description }}</p>
                
                {{ product.price }} lei
            
            <br/><br/>  
                <div class="row justify-content-center">
                    <div class="col-md-2">Quantity:</div>
                    <div class="col-md-2">
                    <select class="form-select from-select-sm" id="qty-cart">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    </div>   
                </div>    
            <br/><br/>
            <a href="{% url 'home' %}" class="btn btn-secondary">Pagina principala</a> 
            <button type="button" value="{{ product.id }}" class="btn btn-secondary add-to-cart" id="add_cart_{{ product.id }}">Adaugă în coș</button>    
            </center>      
          </div>
        </div>
      </div>
    </div> 
</div>
        
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".add-to-cart").click(function() {
            var productId = $(this).val(); // Obține ID-ul produsului
            $.ajax({
                url: '/cart_detail/', // URL-ul către view-ul Django care adaugă produsul în coș
                type: 'POST',
                data: {
                    'product_id': productId
                },
                success: function(data) {
                    // Poți trata aici răspunsul primit de la server
                    alert('Produsul a fost adăugat în coș!');
                },
                error: function(xhr, errmsg, err) {
                    // Poți trata aici eventualele erori
                    alert('A apărut o eroare. Vă rugăm să încercați din nou mai târziu.');
                }
            });
        });
    });
</script>
                    
    
    
    
{% endblock %}